body {
    background-color: white;
}
form {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 64vh;
}

.row {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.contact-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(120, 115, 115, 0.504);
    width: 30vw;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 10px;
    color: #1785cf;
}

.contact-container p {
    color: #666;
    margin-bottom: 20px;
}

.contact-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #7a7b7c8f;
    border-radius: 5px;
}

.contact-container button {
    padding: 7px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-container button:hover {
    transform: scale(1.1);
}

#message,
#feedback {
    resize: none;
    height: 200px;
}

.contact-container input:hover,
.contact-container textarea:hover {
    border-color: #747575;
}

.star img {
    max-height: 300px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mail img {
    max-height: 300px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.rate {
    float: left;
    height: 46px;
    margin-top: -0.5rem;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 35px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.about img {
    border-radius: 8%;
    margin-top: 16vh;
}

.about h2 {
    margin-top: -7vh;
}

.about {
    width: 38.8vw;
    max-height: 58.8vh;
    text-align: center;
    color: #0048ff;
    background: linear-gradient(-45deg, #0aea20, #08b0ed, #08e1ed, #00ff9d);
    background-size: 250% 250%;
    animation: gradient 15s ease infinite;
    border-radius: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.about.animated {
    animation-play-state: running;
}

.about-us {
    margin-top: 21.5vh;
    padding: 19vh 2vw 6vh 2vw;
    background-color: white;
    font-size: 1.5vw;
    color: rgb(61, 61, 61);
}
.about-us h2 {
    margin-top: -14vh;
}
.about-us p {
    margin-top: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Calisto MT, Times New Roman, serif;
    font-size: 24px;
    text-align: left;
}
@media (min-width: 1800px) and (max-width: 2200px) {
    .about {
        width: 40vw;
        max-height: 50vh;
    }
    .about h2 {
        margin-top: -5vh;
    }
    .about-us h2{
        margin-top: -15vh;
    }
    .about-us{
        padding: auto 1vw;
        margin-top: 19vh;
        height: 60vh;
    }
}