body { 
    background-color: rgba(245, 245, 245, 0.973);
}
nav ul li {
    padding-right: 2vw;
}
.navbar-brand {
    padding-right: 5vw;
}
.nav-link{
    margin-left: 2vw;
}
.navbar-nav .nav-item.active {
    background: linear-gradient(to right,#0048ff 0%,#35c112 100%);
    border: none;
    border-radius: 50px;
    transition: .5s ease-in-out;
}